.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 70px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
.completed {
  background-color: rgb(12, 128, 132);
  text-decoration: line-through;
  color: white;
}

button[disabled] {
  background-color: grey;
  cursor: not-allowed;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
